body {
    font-family: 'Times New Roman', Times, serif;   /* Times New Roman till all text. Två typsnitt som fallback. */
    color: rgb(193, 199, 201);  /* All text ska vara i en grå färg. */
    background-color: rgb(0, 0, 0); /* Bakgrundfärgen ska vara svart. */
    margin: 0;  /* Inga margins. */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Bright', 'Times New Roman', Times, serif;  /* Alla rubriker ska ha fonten Lucida Bright om den finns installerad. */
    color: rgb(255, 58, 46);
}

p {
    font-size: 1.2em;
}

header, footer {    /* Oscar */
    background-color: rgba(127, 127, 127, 0.125); /* Lite ljusare än bakgrunden. */
}

header{    /* Oscar */
    display: grid;  /* Använd grid för att dela upp företagets namn och menyn.  */
    grid-template-columns: 2fr 3fr; /* Kolumnen till företagsnamnet ska vara 2 delar, mendans menyn ska vara 3 delar. */
    font-size: 3em; /* Texten ska vara 3 gånger större än standardtextstorleken. */
}

header h2 {    /* Oscar */
    padding: 0 1.5em;   /* Padding vid sidorna om företagsnamnet */
    font-size: 1em;
}

header ul {    /* Oscar */
    list-style-type: none;  /* Inga figurer för listobjekten. */
    display: grid;  /* Använd grid för att dela in menyn. */
    grid-template-columns: repeat(3, 1fr);  /* Tre kolumner som är en del av den totalka bredden var. "repeat" används för att enkelt kunna andra antalet kolumner. */
}

header li {    /* Oscar */
    font-size: 0.9em;   /* Lite mindre textstorlek i menyn. */
    border: rgb(193, 199, 201) solid;   /* Gråa heldragna streck mellan objekten. */
    border-width: 0 0.01ex; /* Ingen ram ovan och under, men 0.01 av bredden av ett x på sidorna. */
    text-align: center; /* Texten centrerad. */
    transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);    /* Mjukare ändring vid hover. */
}

header a {    /* Oscar */
    color: inherit; /* Samma färg som valig text. */
    text-decoration: none;  /* Inget understeck under länken. */
}

header a:hover {    /* Oscar */
    color:rgb(255, 58, 46);    /* Ändra textfärg vid hover. */
}

header li:first-child {    /* Oscar */
    border-left: none; /* Första och sista menyobjektet ska inte ha ram på vänster respektive höger sida. */
}

header li:last-child {    /* Oscar */
    border-right: none;
}

h1 {    /* Oscar */
    text-align: center;
    font-size: 3em;
    padding: 0.5em 0 1em;   /* Större padding under än över. */
    width: 95vw;    /* Bredden ska vara 95% av fönstret. Används för att sätta bredden på strecket under rubriken. */
    margin: auto;   /* Objektet mitt på sidan. */
}

footer {    /* Oscar */
    padding: 2em;
    display: flex;  /* Använd flex för att arangera innehållet. */
    justify-content: space-evenly;  /* Alla mellnrum ska vara lika stora. */
}

footer #opening-hours>p {    /* Oscar */
    margin: 0.3em 0;    /* Lite mindre mellan paragraferna */
}

.finish-line {  /* Oscar */
    display: block;
    height: 5vh;
    min-height: 2em;
    width: 100vw;
    background-image: url(finishline.jpg);
    background-size: contain;
}


/* Om oss-sidan */

.grid-container-om-oss {    /* Tuva */
    display: grid;
    grid-template-columns: 15% auto auto auto auto 15%;
    grid-gap: 10px;
    padding: 10px;
    text-decoration-color: rgb(193,199,201);
  }
  .item1-oss {    /* Tuva */
    grid-column: 2 / span 1;
    }
  .item2-oss {    /* Tuva */
    grid-column: 3 / span 2;
    }
  
  .center {    /* Tuva */
      text-align:center;
  }
  h1.a {    /* Tuva */
  font-family: Lucida Bright,serif;
  color: rgb(193,199,201);
  text-align: center;
  }
  h2.a {    /* Tuva */
  font-family: Lucida Bright,serif;
  color: rgb(193,199,201);
  }
  h3.a {    /* Tuva */
  font-family: Lucida Bright,serif;
  color: rgb(193,199,201);
  }
  p.b {    /* Tuva */
    font-family: "Times New Roman", Times, serif;
    color: rgb(193,199,201);
  }

/* Startsida - meny */

main ul {    /* Oscar */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

main ul li {    /* Oscar */
    margin: 5vh 5vw;
}


[id^=mat]>a {   /* Oscar - Alla länkar som är direkt under ett element med ett id som börjar på "mat". */
    width: 30vw;
    min-width: 450px;  /* BIlderna får inte blir för små. */
    height: 30vh;
    min-height: 150px;
    border-radius: 0.2em;  /* Lite rundade hörn på bilderna. */
    background-position: center;
    background-size: cover;
    display: block;
}

main ul [id^=mat]>a:hover {    /* Oscar */
    filter: brightness(75%);  /* Gör bilden mörkare vid hover. */
}

[id^=mat] p {    /* Oscar */
    display: inline-block;  /* Namnet och priset ska stå på samma rad. */
    font-size: 1.5em;
}

[id^=mat] p:nth-child(2) {    /* Oscar */
    font-size: 1.5em;
    float: right;  /* Priset till höger */
}

[id^=mat] {
    transition: font-size 250ms cubic-bezier(0.075, 0.82, 0.165, 1);    /* Mjukare ändring vid hover. */
}

[id^=mat]:hover {
    text-decoration: underline;
    font-size: 1.2em;
}

#mat1>a {   /* Oscar */
    background-image: url(./img/mat1.jpg);  /* Bilden på maten som bakrundsbild i länken. */
}

#mat2>a {   /* Oscar */
    background-image: url(./img/mat2.jpg);
}

#mat3>a {   /* Oscar */
    background-image: url(./img/mat3.jpg);
}

 /*Kontakta oss*/ 

#kontakt3{	/* David*/
	font-size: 2em; /* Större storlek på text */
	color: rgb(255, 58, 46); /* Textfärgen blir röd */
	margin-left: 45%; /* position på sidan */
	text-decoration: underline; /* Underlinje på texten */
}

.huvud{	/* David*/
	font-size: 1.5em; /* Större storlek på huvudinnehållet */
	margin-left: 35%; /* Position på sidan */
	margin-top: 3%;		/* Position på sidan */
}

/* Länkar till e-post och telefonnummer. */
.huvud a:link,
.huvud a:visited {    /* Oscar */
    color: inherit;
    text-decoration: none;
}

.huvud a:focus,
.huvud a:hover {    /* Oscar */
    color: rgba(193, 199, 201, 0.7);
}

.huvud a:active {    /* Oscar */
    text-decoration: underline; /* Understucken när man klickar på den */
}

iframe{	/* David*/
	float: left; /* Iframen ska ligga till vänster */
	margin-left: 10%; /* Position på sidan */
	width: 450px; /* Bredd på iframe */
	height: 350px; /* Längd på iframe */
  }
  

.container{  /* David*/
	position: relative;/* Position relativt till dess normala position */
	text-align: center; /* Centrerad text */
}

.center{	/* David*/
	position: absolute; /* Placera något var man vill. Använder top, left, bottom, right för att sätta plats */
	top: 35%; /* Position för text */
	left: 43%; /* Position för text */
	color: rgb(255, 58, 46); /* Textfärg blir röd */
	font-size: 4em; /* Större storlek på text */
	letter-spacing: -1px; /* Minskar avståndet mellan karaktärer i text*/
	background: rgba(0, 0, 0, 0.7); /* Ändrar bakgrundsfärgen bakom texten, gör det enklare att se och läsa*/ 
	padding: 10px; /*Ökar utrymmet runt texten */
}

#bilbild{ /* David*/
	width: 25%; /* Ökad bredd på bild */
}

/* Mer Detaljer på Maträtt */

.matrubrik{ /* David*/
	font-size: 3em; /*Större storlek på rubrik*/
	color: rgb(255, 58, 46); /* Rödtext på rubrik*/
	text-decoration: underline; /* Underlinje på rubrik*/
}

#matbild1{	/* David */
	margin-left: 20%; /* Position för bild på mat1 */
}

#matbild2{	/* David */
	margin-left: 30%; /* Position för bild på mat2 */
}

#matbild3{	/* David */
	margin-left: 25%; /* Position för bild på mat3 */
	width: 50%;	/* Förstorning på bilden */
}	

.mattext1{ /* David*/
	font-size: 1.5em; /*Större storlek på rubrik*/
	color: rgb(255, 58, 46); /* Rödtext på rubrik*/
	text-align: center; /* Underlinje på rubrik*/
}

.mattext2{	/* David */
	font-size: 1.5em; /* Större storlek på typsnitt */
	text-align: center; /* Centrerad text */
}

.matlink{ /* David */
	padding-left: 45%; /* Position för "Tillbaka till menyn" */
	color: inherit; /* Samma färg som vanliga texten */
	font-size: 2em; /* Större storlek på länkens text */
}

main a:hover{ 
	color:rgb(255, 58, 46); /* När muspekaren är över texten ändras den gråa färgen till röd */
}